# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lib
*.a

# Executables
*.exe
*.out
*.app

# Build directories
/build/
bin/
dist/

# CMake and build system files
CMakeFiles/
cmake-build-debug/
CMakeCache.txt
cmake_install.cmake
Makefile
*.ninja
*.build

# IDE/Editor specific files
.idea/
.vscode/
*.code-workspace
*.suo
*.user
*.vcxproj
*.vcxproj.filters
*.psess
*.ncb
*.opensdf
*.sdf
*.db
*.d

# Dependencies
# vendor # I guess we can allow vendor for a bit uwu

# Other files
tags
*.tag
*.zip
*.tar.gz
*.7z

# Specific platform files
# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~